/**
 * @file
 * Additional styling for Commerce based on Bootstrap.
 */

/**
 * Form Action Buttons
 */
.form-actions .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

/**
 * Cart Summary
 */
#edit-order-summary {
  margin-bottom: 20px;
}
