{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  <div class="row">
    <div class="layout-region layout-region-checkout-main col-sm-12 col-md-7">
      {{ form|without('order_summary', 'actions') }}
    </div>
    <div class="layout-region layout-region-checkout-secondary col-sm-12 col-md-5">
      <h3>{% trans %} Order Summary {% endtrans %}</h3>
      {{ form.order_summary }}
    </div>
  </div>
  <div class="row">
    <div class="layout-region layout-region-checkout-footer col-xs-12">
      {{ form.actions }}
    </div>
  </div>
</div>
